#flex-container {
  display: flex;
  background-color: DodgerBlue;
}

#flex-container > img {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  width: 50px;
  height: 100px;
}










