body{
  background-image: url("images/taller.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: Arial;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  height: 100vh;
}

#star1{
    position: relative;
     top: 110px;
    right: 140px;
    width: 10%;
    height: auto;
}

#star2{
    position: relative;
     top: -100px;
    right: -595px;
    width: 10%;
    height: auto;
}

.star{
    animation-name: brilloStar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*animacio que gira i canvia la opacitat de les estrelles*/
@keyframes brilloStar {
    0% {transform:rotate(0deg); opacity: 1;}
    25% {transform:rotate(90deg); opacity: 0.5;}
    50% {transform:rotate(180deg); opacity: 0.1;}
    75% {transform:rotate(90deg); opacity: 0.5;}
    100% {transform:rotate(0deg); opacity: 1;}
}

#titulo{
    font-size: 40px;
    color:brown;
}

#gun{
    position: relative;
    z-index: 2;
    top: 200px;
    right: 100px;
    width: 70%;
    height: auto;
    transform:rotate(50deg);
    animation-name: girarGun;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
/*animacio que gira la ametralladora*/
@keyframes girarGun {
    0% {transform:rotate(50deg);}
    25% {transform:rotate(95deg);}
    50% {transform:rotate(50deg);}
    75% {transform:rotate(5deg);}
    100% {transform:rotate(50deg);}
}

#morshu{
    position: relative;
    z-index: 1;
    top: -500px;
    right: 200px;
}

/*el grid esta dividit en esquerra (botons) i dreta (imatges)*/
.izquierda{
   grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-top: 30%;
  padding-bottom: 200px;
  padding-left: 20%;
  padding-right: 30px;
}

.derecha{
   grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}


input[type="button"]{
  background-color: red;
  color: black;
  border-radius: 20px;
  border: 4px solid black;
  font-weight: bold;
  font-family: "cooper black";
  width: 60%;
  margin: 30px;
  /*block-size: 100px; */
  font-size: 50px;
}
/*hover que canvia el color dels botons quan passes el ratoli per sobre*/
input[type="button"]:hover{
  background-color: #ff726f;
  }