body{
    background-color: royalblue; 
  /*background-image: url("images/taller.jpg");  
  background-repeat: no-repeat;
  background-size: cover;*/
  margin: 0;
  
  font-family: Staatliches, cursive;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  /*height: 100vh;*/
}

.campos{
    font-size: 80%;
}

.star{
    animation-name: brilloStar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 10%;
    height: auto;
}
/*animacio que gira i canvia la opacitat de les estrelles*/
@keyframes brilloStar {
    0% {transform:rotate(0deg); opacity: 1;}
    25% {transform:rotate(90deg); opacity: 0.5;}
    50% {transform:rotate(180deg); opacity: 0.1;}
    75% {transform:rotate(90deg); opacity: 0.5;}
    100% {transform:rotate(0deg); opacity: 1;}
}
 #titulo{
    font-size: 90px;
} 



.flex-container{
  display:flex;
  
}


/*el grid esta dividit en header (titol) esquerra (botons) i dreta (imatges)*/
.header{ 
  grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 1;
 grid-row-end: 1;
 padding-left: 20%;
background-color: orange;
}



.abajo{
   grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
   width: 100%;
    margin-top: 5%;
}

.abajo form {
    
    text-align: center;
    font-size: 50px;
    
    padding: 16px;
    
}

button{
  background-color: orange;
  color: black;
  border-radius: 20px;
  border: 4px solid black;
  font-weight: bold;
    font-family: Staatliches, cursive;
  width: 20%;
  margin: 30px;
  /*block-size: 100px; */
  font-size: 50px;
}
/*hover que canvia el color dels botons quan passes el ratoli per sobre*/
button:hover{
  background-color: #ff726f;
  }

input[type="button"]{
    background-color: orange;
    color: black;
    border-radius: 20px;
    border: 4px solid black;
    font-weight: bold;
    font-family: Staatliches, cursive;
    width: 10%;
    margin: 30px;
    /*block-size: 100px; */
    font-size: 50px;
}
/*hover que canvia el color dels botons quan passes el ratoli per sobre*/
input[type="button"]:hover{
    background-color: #ff726f;
}


@media screen and (max-width: 600px){
    .grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;

}
    .header{ 
  grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 1;
 grid-row-end: 1;
 padding-left: 0%;


}

     #titulo{
    font-size: 50px;
}
    .abajo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width:500px;
    }
    button{
        width: 50%;
        margin: 0px;
        /*block-size: 100px; */
        font-size: 40px;
    }
    input[type="button"] {

        width: 50%;
        margin: 0px;
        /*block-size: 100px; */
        font-size: 40px;
    }
    
}


