#flex-container1 {
  display: flex;
  background-color: DodgerBlue;
}

#flex-container1 > img {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  width: 50px;
  height: 100px;
}

#flex-containerj1 {
  display: flex;
  background-color: DodgerBlue;
}

#flex-containerj1 > img {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  width: 50px;
  height: 100px;
}

#flex-containerj2 {
  display: flex;
  background-color: DodgerBlue;
}

#flex-containerj2 > img {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  width: 50px;
  height: 100px;

}#flex-containerj3 {
  display: flex;
  background-color: DodgerBlue;
}

#flex-containerj3 > img {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  width: 50px;
  height: 100px;
}

#flex-containerj4 {
  display: flex;
  background-color: DodgerBlue;
}

#flex-containerj4 > img {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  width: 50px;
  height: 100px;
}

#flex-containerB {
  display: flex;
  background-color: DodgerBlue;
}

#flex-containerB > img {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  width: 50px;
  height: 100px;
}


