.kk {
  height: 100%;
  width: 30%;
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://pbs.twimg.com/media/EnNYmW4W4AQZKsH?format=png&name=360x360");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  padding: 50px;
  
  }
  
  
  
  .espacio{
    visibility: hidden;
  }
  body {
    background-image: url("https://ubistatic19-a.akamaihd.net/ubicomstatic/es-mx/global/search-thumbnail/global_search_thumbnail_image_750x422_mobile_259517.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;
    height: 100%;
    margin: 0px;
  }
  
  input[type="submit"]{
    background-color: red;
    color: black;
    border-radius: 20px;
    border: 4px solid black;
    font-weight: bold;
    font-family: "cooper black";
  }
  
  input[type="submit"]:hover{
    background-color: #ff726f;
  
  }

  button{
    background-color: red;
    color: black;
    border-radius: 20px;
    border: 4px solid black;
    font-weight: bold;
    font-family: "cooper black";
  }

  button:hover{
    background-color: #ff726f;
  
  }
  
  .titulos{
    color: black;
    font-weight: bold;
    font-family: "cooper black";
    background-color: red;
    color: black;
    border-radius: 20px;
    border: 4px solid black;
    font-weight: bold;
    padding: 5px;
    
  }
  
  html{
    height: 100%;
    margin: 0px;
  }
  
  
  