body{
    background-color: royalblue; 
  /*background-image: url("images/taller.jpg");  
  background-repeat: no-repeat;
  background-size: cover;*/
  margin: 0;
  
  font-family: Staatliches, cursive;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20% 80%;
  /*height: 100vh;*/
    max-height: 100vh;
}
/*
#star1{
    position: relative;
     top: 10px;
    right: 140px;
}

#star2{
    position: relative;
     top: 10px;
    right: -595px;
} 
*/

 #titulo{
    font-size: 90px;
} 



#taller{
    position: relative;
    z-index: -3;
    width: 100%;
    height: auto;
    top: 0px;
    right: 200px;
}

.flex-container{
  display:flex;
  
}


/*el grid esta dividit en header (titol) esquerra (botons) i dreta (imatges)*/
.header{ 
  grid-column-start: 1;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: 1;
 padding-left: 20%;
background-color: orange;
}

.izquierda{
   grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 30px;
  overflow-y: scroll;
    direction:rtl;
}

.inner-izquierda{
   
    direction:ltr;
}

.derecha{
   grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  
}


input[type="button"]{
  background-color: orange;
  color: black;
  border-radius: 20px;
  border: 4px solid black;
  font-weight: bold;
    font-family: Staatliches, cursive;
  width: 60%;
  margin: 30px;
  /*block-size: 100px; */
  font-size: 50px;
}
/*hover que canvia el color dels botons quan passes el ratoli per sobre*/
input[type="button"]:hover{
  background-color: #ff726f;
  }


@media screen and (max-width: 600px){
    .grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  /*height: 100vh;*/
}
    .header{ 
  grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 1;
 grid-row-end: 1;
 padding-left: 0%;
 /* align-items: stretch; */

}
    .izquierda{
        grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
        padding-top: 0%;
  padding-left: 20%;
        bottom: 100px;
  
    }
    
    .derecha{
   grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  
}

    
    #taller{
    position: relative;
    z-index: -3;
    width: 100%;
    height: auto;
    top: 250px;
    right: 0px;
        opacity: 40%;
}
    
     #titulo{
    font-size: 50px;
         margin-left: 30%;
} 
    
}


