<form action="{% url 'frasesmiticas:postAddFrase' %}" method="post">
    {% csrf_token %}


    <h1>Introduce usuario y frase</h1>
    <fieldset>
        <label>user</label>
        <input type="text" name="user">
        <label>frase</label>
        <input type="text" name="frase">
    </fieldset>

    <input type="submit">
</form>
