<form action="{% url 'frasesmiticas:addTagPost' frase.id %}" method="post">
{% csrf_token %}
  <fieldset>
    {% if tags %}
    <p>Añadir tag a la frase {{frase.texto_frase}}</p>
      <ul>
        {% for tag in tags %}
          <!-- <li>{{ forloop.counter }} {{tag.nombre_tag}}</li> -->

          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ tag.id }}">
          <label for="choice{{ forloop.counter }}">{{ tag.nombre_tag }}</label><br>

        {% endfor %}
      </ul>
    {% else %}
      <p> Pues eres tonto </p>
    {% endif %}
  </fieldset>
  <input type="submit" value="Vote">

</form>