{% if frases %}
<p> Frases de {{usuario.username}} </p>
  <ul>
    {% for frase in frases %}
      <li>{{frase.texto_frase}}</li>
    {% endfor %}
  </ul>
{% else %}
  <p> Pues eres tonto </p>
{% endif %}