#flex-container1 {
  display: flex;
  background-color: DodgerBlue;
}

#flex-container1 > img {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  width: 50px;
  height: 100px;
}

#flex-container2 {
  display: flex;
  background-color: DodgerBlue;
}

#flex-container2 > img {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  width: 50px;
  height: 100px;
}








