body{
    background-image: url('images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    /*background-color: #2196F3;*/
    padding: 10px;
}

#arriba {
    /*background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-content: center;
    margin-bottom: 20%;
}

#abajo {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 0px;
    font-size: 30px;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
}

.pato{
    background-color: red;
    width: 5%;
}

.pato:hover{
    width: 7%;
}



button{
  background-color: red;
  color: black;
  border-radius: 20px;
  border: 4px solid black;
  font-weight: bold;
  font-family: "cooper black";
}

button:hover{
  background-color: #ff726f;

}

.animacion{

    animation: example 5s infinite;
}


@keyframes example {
    0% {
        transform:  scale(1) rotateZ(0deg);
    }
    7% {
        transform:  scale(1) rotateZ(90deg);
    }
    14% {
        transform:  scale(1) rotateZ(180deg);
    }
    21% {
        transform:  scale(1) rotateZ(270deg);
    }
    28% {
        transform:  scale(1) rotateZ(360deg);
    }
    35% {
        transform:  scale(1) rotateZ(0deg);
    }
    42% {
        transform:  scale(1) rotateZ(90deg);
    }
    49% {
        transform:  scale(1) rotateZ(180deg);
    }
    56% {
        transform:  scale(1) rotateZ(270deg);
    }
    63% {
        transform:  scale(1) rotateZ(360deg);
    }
    70% {
        transform:  scale(1) rotateZ(0deg);
    }
    77% {
        transform:  scale(1) rotateZ(90deg);
    }
    84% {
        transform:  scale(1) rotateZ(180deg);
    }
    91% {
        transform:  scale(1) rotateZ(270deg);
    }
    100% {
        transform:  scale(1) rotateZ(360deg);
    }
}
