body{
  background-image: url("images/imatge.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: Arial;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
    flex-wrap: wrap;
}

.flex-container > img {
  background-color: black;
}
/* que les imatges ocupin un terç de la pantalla per que faci un 3x3*/
.celda{
    flex: 0 0 33%;
}

/*ordre de cada imatge*/
#img1{
    order:2;
}

#img2{
    order:5;
}

#img3{
    order:3;
}

#img4{
    order:6;
}

#img5{
    order:1;
}

#img6{
    order:7;
}

#img7{
    order:8;
}

#img8{
    order:4;
}

#img9{
    order:9;
}