body{
  background-image: url("images/imatge.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: Arial;
}

/*que cada celda ocupi un terç*/
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  height: 100%;
  width: 100%;
}

/*per que totes les imatges ocupin el 100% de la pantalla depenent del tamany de la finestra*/
.celda{
    width: 100%;
    height:auto;
}

/*ordre de cada imatge*/
#img1{
    grid-column: 2;
    grid-row: 1;
}

#img2{
    grid-column: 2;
    grid-row: 2;
}

#img3{
    grid-column: 3;
    grid-row: 1;
}

#img4{
    grid-column: 3;
    grid-row: 2;
}

#img5{
    grid-column: 1;
    grid-row: 1;
}

#img6{
    grid-column: 1;
    grid-row: 3;
}

#img7{
    grid-column: 2;
    grid-row: 3;
}

#img8{
    grid-column: 1;
    grid-row: 2;
}

#img9{
    grid-column: 3;
    grid-row: 3;
}